integrations/yousidian/workflows/main_workflow.json
{
    "name": "Yousidian Sync",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "youtrack-webhook",
                "options": {}
            },
            "name": "YouTrack Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const { normalizePayload } = require('/data/workflows/sync.js');\nconst input = items[0].json;\nreturn [ { json: normalizePayload('youtrack', input) } ];"
            },
            "name": "Normalize Payload",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://halvarm:8080/webhook",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "secret",
                            "value": "YOUR_SECRET_TOKEN"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "json",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "data",
                            "value": "={{ $json }}"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Forward to Proxy",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 1,
            "position": [
                650,
                300
            ]
        }
    ],
    "connections": {
        "YouTrack Webhook": {
            "main": [
                [
                    {
                        "node": "Normalize Payload",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Normalize Payload": {
            "main": [
                [
                    {
                        "node": "Forward to Proxy",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}